.Footer {
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
	clear: both;
	height: auto;
	width: 100%;
	display: block;
	background-color: #f5f5f5;
}
@media (max-width: 800px) {
	.Footer {
		flex-direction: column;
	}
}

.footerList {
	display: flex;
	justify-content: space-between;
}

.logo {
	margin-left: 419px;
	margin-top: 60px;
}

.Help-Information {
	padding-left: 419px;
	padding-top: 61px;

	font-family: Montserrat;
	font-size: 20px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #272727;
}
.About-GQ {
	padding-left: 35px;
	padding-top: 61px;

	font-family: Montserrat;
	font-size: 20px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #272727;
}

.Subscribe {
	padding-left: 9px;
	padding-top: 61px;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #272727;
}

.Lorem-ipsum-dolor-si {
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #272727;
}
.Lorem-ipsum-dolor-si-Copy {
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #272727;
}
.Lorem-ipsum-dolor-si-Copy-2 {
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #272727;
}
.Lorem-ipsum-dolor-si-Copy-3 {
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #272727;
}
.Lorem-ipsum-dolor {
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #272727;
}

.sub-e-mail {
	border-radius: 24px;
	border: solid 2px #272727;
}
.bottom {
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #272727;
	text-align: ;
}
