.Title-Rectangle {
    height: 40vh;
    width: 100%;
    background-color: #f5f5f5;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
}

.Title {
  font-family: Montserrat;
  font-size: 5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #272727;
  padding-top: 10vh;
}

.Photo-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 60vph;
}
.Photos {
    position: relative;
    padding: 5px;
}

.Photos:hover {
    background-color: #272727;
    z-index: 1;
}

.Photos:hover .fact{
    visibility: visible;
    color: #ffffff;
    background-color: #272727;
    opacity: 0.75;
}

@media (max-width: 600px) {
    .Photo-cards {
        flex-direction: row;
        justify-content: flex-start;
        overflow:scroll;
    }
    .jumper {
        width: 50vw;
    }
    
    .dress {
        width: 50vw;
    }

    .shirt {
        width: 50vw;
    }
    
    .trainer {
        width: 50vw;
    }
    
    .jeans {
        width: 50vw;
    }
}

.jumper {
    width: 200px;
}

.dress {
    width: 200px;
}

.trainer {
    width: 200px;
}

.jeans {
    width: 200px;
}

.shirt {
    width: 200px;
}

.caption {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #272727;
}

.fact {
    visibility: hidden;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #272727;
    padding: 10px;
    z-index: 2;
    position: absolute;
    width: 200px;
    height: 100%;
    top: 0;
    text-align: center;
}

.Photo-cards-facts{
    background-color: #2ac653;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    text-align: center;
}