.NavBar {    
  height: 100px;
  box-shadow: 0 16px 14px 0 rgba(0, 0, 0, 0);
  background-color: #ffffff;
}

.logo1 {
  justify-content: flex-start;
}

.faq {
  width: 57px;
  height: 22px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #272727;
  padding: 20px;
  float: right;
  text-decoration-line: none;
}

.HomePage {
  width: 57px;
  height: 22px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #272727;
  padding: 20px;
  float: right;
  text-decoration-line: none;
}

.Tree {
  width: 168px;
  height: 18px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  float: right;
  display: inline-flex;
  text-decoration-line: none;
}

.TreeText {
  width: 168px;
  height: 18px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.TreeButton{
  width: 192px;
  height: 56px;
  border-radius: 32.5px;
  background-color: #2ac653;
  float: right;
}