.NavBar {    
  height: 12vh;
  box-shadow: 0 16px 14px 0 rgba(0, 0, 0, 0);
  background-color: #ffffff;
  padding: 15px;
}

@media (max-width: 600px) {
  .NavBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.PageLinks {
  display: flex;
  justify-content: space-between;
}

.logo1 {
  object-fit: contain;
}

.FAQ {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #272727;
  padding: 20px;
  display: inline-flex;
  justify-content: flex-end;
  text-decoration-line: none;
  margin: 0 30px;
}

.HomePage {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #272727;
  padding: 20px;
  display: inline-flex;
  justify-content: flex-end;
  text-decoration-line: none;
  margin: 0 30px;
}

.Tree {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  justify-content: flex-end;
  display: inline-flex;
  text-decoration-line: none;
  margin: 0 30px;
}

.TreeText {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  justify-content: center;
}

.TreeButton{
  border-radius: 32.5px;
  background-color: #2ac653;
  float: right;
  width: 192px;
  height: 56px;
  justify-content: center;
}