.container {
	display: flex;
  align-content: center;
}

.I {
	font-family: Montserrat;
	font-size: 40px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
  color: #272727;
  justify-content: flex-start;
  z-index: 1;
}
.II {
	font-family: Montserrat;
	font-size: 14px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
  color: #272727;
  z-index: 1;
  text-align: center;
}

.list {
  margin: 20px;
	list-style-type: circle;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
  color: #272727;
  z-index: 1;
}

.lista_project {
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
  z-index: 1;
}

.button_project {
	width: 143px;
	height: 40px;
	border-radius: 32.5px;
  background-color: #272727;
  color: #ffffff;
  font-weight: bold;
  z-index: 1;
}
.button_certyficate {
	display: flex;
	width: 143px;
	height: 40px;
	border-radius: 32.5px;
	background-color: #2ac653;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
  color: #ffffff;
  z-index: 1;
  margin-top: 10px;
}

.input {
  width: 40px;
  margin: 15px;
  border-color:#2ac653;
}
.RectangleAPI {
  display: flex;
  display: inline-flex;
  flex-direction: column;
  list-style: none;
  padding: 15px;
  z-index: 2;
  position: absolute;
  align-content: flex-end;
}

.projects {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  list-style: none;
}

.ButtonPaT {
	width: 143px;
	height: 40px;
	border-radius: 32.5px;
	background-color: #2ac653;
  z-index: 1;
}

.Plant-a-tree {
	font-family: Montserrat;
	font-size: 14px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
  color: #ffffff;
  z-index: 1;
}

.page-tree-right{
  position: relative;
  display: flex;
  z-index: -3;
  justify-content: flex-start;
}

.page-tree-left{
  position: relative;
  display: flex;
  z-index: -3;
  justify-content: flex-start;
}

@media (max-width: 600px) {
  .container {
      flex-direction: column;
      justify-content: flex-start;
  }
  .RectangleAPI {
    display: flex;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    padding: 15px;
  }
  .page-tree-right{
    display: none;
  }
  
  .page-tree-left{
    display:none;
  }
}