.Plant-a-Tree {
	display: flex;
	flex: auto;
}
@media (max-width: 600px) {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.api {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}
.img {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-flow: column;
}

#flexbox {
	display: flex;
	padding: 1em;
	font-size: 1.3em;
	background-color: #7dcde8;
}
.text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
}

.container {
	display: flex;
	padding: 0;
	align-content: center;
	text-align: justify;
}
.api {
	display: flex;
	flex-direction: inherit;
	border-radius: 8px;
	background-color: #f5f5f5;
	padding-left: 100px;
	padding-right: 200px;
	margin: 100px;
	margin-right: 80px;
}
.I {
	margin-top: 125px;

	font-family: Montserrat;
	font-size: 40px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #272727;
}
.II {
	margin: 50px;
	font-family: Montserrat;
	font-size: 25px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #272727;
}

.list {
	list-style-type: square;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #272727;
	margin-right: 125px;
}
.lista_project {
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #272727;
	margin-right: 125px;
}
.button_project {
	width: 138px;
	height: 35px;
	border-radius: 32.5px;
	background-color: #2ac653;
}
.button_certyficate {
	width: 138px;
	height: 20;
	border-radius: 45px;
	background-color: #e66510;
}
.projects {
	list-style-type: none;
}
.input {
	size: 1;
	width: 50px;
	resize: a;
}
.RectangleAPI {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.ButtonPaT {
	width: 192px;
	height: 56px;
	border-radius: 32.5px;
	background-color: #2ac653;
}
.Plant-a-tree {
	font-family: Montserrat;
	font-size: 18px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
}
.img_left {
	display: flex;
}
.img_right {
	padding-left: 0;
	display: flex;
}
.page-leaves-left {
	transform: rotate(-40deg);
	padding-left: 199px;
	position: absolute;
}
.page-leaves-right {
	position: absolute;
}
