.Plant-a-Tree {
	display: flex;
}

.container {
	display: flex;
	align-content: flex-start;
	text-align: justify;
	align-items: center;
}
.text {
	height: auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px;
}
.api {
	height: auto;
	display: flex;
	border-radius: 15px;
	background-color: #f5f5f5;
	margin: 10px;
	flex-direction: column;
	justify-content: center;
}
@media (max-width: 600px) {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.I {
	word-wrap: break-word;
	font-family: Montserrat;
	font-size: 40px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #272727;
}
.II {
	margin-bottom: 50px;
	font-family: Montserrat;
	font-size: 25px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #272727;
}

.list {
	list-style-type: none;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #272727;
}
ul li::before {
	content: "\2022";
	color: #2ac653;
	font-weight: bolder;
	display: inline-block;
	width: 2em;
	margin-left: -1em;
	size: 10px;
}
.lista_project {
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #272727;
}
.button_project {
	width: 138px;
	height: 35px;
	border-radius: 32.5px;
	background-color: #2ac653;
}
.button_certyficate {
	display: flex;
	height: 30px;
	border-radius: 45px;
	background-color: #e66510;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
	font-size: 18px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
}
.projects {
	list-style-type: none;
}
.input {
	size: 3;
	width: 50px;
}
/* .RectangleAPI {
	display: flex;
	flex-direction: column;
	justify-content: center;
} */
.projects {
	display: flex;
}
.ButtonPaT {
	width: 192px;
	height: 56px;
	border-radius: 32.5px;
	background-color: #2ac653;
	margin-left: 75px;
}
.Plant-a-tree {
	font-family: Montserrat;
	font-size: 18px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
}
.img_left {
	height: auto;

	display: flex;
	align-items: baseline;

	padding-right: 150px;
}
.img_right {
	height: auto;

	padding-left: 150px;
	display: flex;
	align-items: self-end;
}
.page-tree-left {
	padding-top: 140px;
}
.page-leaves-left {
	transform: rotate(-40deg);
	position: absolute;
	padding-left: 180px;
}
.page-leaves-right {
	display: flex;
	position: absolute;
}

@media (max-width: 480px) {
	.img_right {
		display: none;
	}
	.img_left {
		display: none;
	}
}
