.reforestation-projects{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: auto;
}

.Forest-image{
    width: 300px;
}

.location{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #272727;
}

.Project-Info{
    display: flex;
    justify-content: space-between;
    font-family: Montserrat;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #272727;
    padding: 10px;
}

.Project{
    padding: 15px;
}

.Project-link{
    padding: 10px;
    color: #2ac653;
}